/**
 * Main stylesheet
 * Add any imports to this file - compiled to stylesheets/style.css
 *
 * sass --watch stylesheets/style.scss:stylesheets/style.css
 */

//Base Skeleton CSS files (/stylesheets/skeleton)
@import "skeleton/variables";
@import "skeleton/mixins";
@import "skeleton/base";
@import "skeleton/layout";
@import "skeleton/skeleton";

//UI css (/stylesheets/ui)
@import "ui/header";

/**
 * CSS Elements
 */
html, body {
	background-color: #f0f0f0;
}

.left {
	float: left;
}

.right {
	float: right;
}